

<div class="grid_8 alpha">
  <h1><%= t("user_session.request_reset_password.title") %></h1>
  <p><%= t("user_session.request_reset_password.description")%></p>
</div>

<div class="grid_8 omega">
  <% semantic_form_for :request_reset_password, :html => {:id => "reqform"} do |form|%>
    <% form.inputs do %>
      <%= form.input :email, :label => t("user_session.request_reset_password.email")%>

      <% form.buttons do%>
        <%= form.commit_button t("user_session.request_reset_password.send_request")%>
        <li class="cancel">
          <%= t("or") %> <%= link_to t("cancel"), login_path%>
        </li>
      <%end%>

    <%end%>
  <%end%>
</div>
<div class="clear"></div>
