

<div class="grid_8 alpha">
  <h1><%= t("user_session.reset_password.title") %></h1>
</div>

<div class="grid_8 omega">
  <% semantic_form_for @user, :url => reset_password_path(params[:id]), :html => {:class => "medium-form"} do |form|%>
    <% form.inputs do %>
      <%= form.input :password, :as => :password, :input_html => { :autocomplete => "off" }, :required => true %>
      <%= form.input :password_confirmation, :as => :password, :input_html => { :autocomplete => "off" }, :required => true %>
      <% form.buttons do %>
        <%= form.commit_button t(".reset")%>
        <li class="cancel">
        <%= t(:or) %> <%= link_to t("cancel"), dashboard_path %>
        </li>
      <%end%>
    <%end%> 
<%end%>          
</div>
<div class="clear"></div>
